* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ////////// header ////////// */
#header-title {
  width: 65vw;
  height: 70px;
  color: white;
  background-color: purple;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 0.5rem 0;
}

/* ////////// search ////////// */
main {
  width: 65vw;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-input {
  width: 29rem;
  border: none;
  border-bottom: 2px solid #cfd8dc;
  padding: 4px;
}
.text-input:focus {
  outline: none;
}
.search-button {
  width: 60px;
  height: 25px;
  color: #fff;
  background-color: rgb(221, 4, 221);
  border-radius: 4px;
  border: none;
}

/* ////////////////////////////// */
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

/* ////////// side bar ////////// */
.side-bar {
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0px 0px 6px 2px #cfd8dc;
  padding: 0.4rem;
  border-radius: 5px;
}
.filters {
  width: 100%;
  height: 30px;
  color: rgb(221, 4, 221);
  background-color: #fff;
  border-color: purple;
  border-radius: 4px;
}
/* ////////// active ////////// */
.active {
  color: #fff;
  background-color: purple;
}

/* ////////// product ////////// */
.products {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.product-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
  box-shadow: 2px 1.5px 5px #cfd8dc;
}
img {
  width: 100%;
  border-radius: inherit;
}
.item-down {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem;
}
span {
  color: #fff;
  background-color: rgb(221, 4, 221);
  border-radius: 4px;
  padding: 2px;
}
span::before {
  content: "$";
}
